* {
    padding: 0;
    margin: 0;
}

.body-container {
    color: aliceblue;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-areas: "nav nav nav" "article article article" "footer footer footer";
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footer;
}

nav,
footer {
    background-color: steelblue;
    border: black 2px solid;
}

article {
    background-color: steelblue;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 25px;
    grid-area: article;
    color: white;
    text-align: center;
    margin-top: 11rem;
    margin-left: 11rem;
    margin-right: 10rem;
    height: 18%;
}

ul {
    list-style-type: none;
}

ul a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.top-nav ul {
    display: flex;
    margin-right: 1rem;
}

.top-nav ul li {
    margin-left: 0.5rem;
}

.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.bottom-nav ul {
    display: flex;
}

.bottom-nav ul li {
    margin-left: 0.5rem;
}

.logo {
    font-size: large;
    font-weight: bold;
    margin-left: 1rem;
}

p {
    height: 22%;
}